{{define "index"}}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hello</title>
	<link rel="stylesheet" href="/static/global.css">
	<link rel="stylesheet" href="/static/index.css">
	<script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
</head>
<body>
	{{.MouseDiv}}
	{{.Search}}
	<input 
		type="text" name="q"
		hx-get="/api/trigger_delay"
		hx-trigger="keyup changed delay:500ms"
		hx-target="#search-results"
		placeholder="Search..."
	>
	<div id="search-results">{{template "list" .List}}</div>
</body>
</html>
{{end}}